@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Sora", sans-serif;
    scroll-behavior: smooth;
  }
  .stroke-text {
    -webkit-text-stroke-width: 2px;
    -webkit-text-fill-color: transparent;
  }
}
